<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <div id ="error_explanation">
    <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
<div class = "field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class = "field">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<div class = "actions">
  <%= f.submit 'Update Book' %>
</div>
<% end %>
<%= link_to "show", book_path(@book.id) %>
|
<%= link_to "Back", books_path %>