<h1>Editing Book</h1>
<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

  <%= f.label :title %> <br>
  <%= f.text_field :title %> <br>
   <%= f.label :body %> <br>
  <%= f.text_area :body %><br>
  <%= f.submit 'Update Book' %>
<% end %>
